# AVM core team owns key files
.github/policies/ @Azure/avm-admins @Azure/avm-core-team-technical
.github/workflows/version-check.yml @Azure/avm-admins @Azure/avm-core-team-technical
.github/CODEOWNERS @Azure/avm-admins @Azure/avm-core-team-technical
